body
{
	border: 1px solid green;
	padding: 1px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
table.composite, table.template 
{
	width: 100%;
}
th, td.th
{
	padding: 4px;
	font-weight: bold;
	text-align: left;
}
th, th a, td.th, table.foot, 
/*table.navigation a, table.navigation a:hover,*/
table.foot a, table.foot.a:hover
{
	background-color: #abcdef;
	color: black;
	text-decoration: none;
}
/*table.navigation a:link, table.navigation a:visited,*/
td.list a:link, td.list a:visited,
table.foot a:link, table.foot a:visited
{
	/*background-color: #abcdef;*/
	color: #3b5c7f;
	text-decoration: none;
}
td.list a:hover
{
	color: green;
	text-decoration: none;
}
table.component td, td.list, table.navigation td, a.foot
{
	padding: 4px;
}
.bg
{
	background-color: #cfdfff;
}
.right
{
	text-align: right;
}
label
{
	font-weight: bold;
}
form
{
	margin: 0px;
	padding: 0px;
}
table.navigation
{
	float: right;
}
td.helfti
{
	width: 50%;
}
td.preformatted
{
	font-family: monospace, fixed;
	vertical-align: top;
	white-space: pre;
}
table.pager
{
	float: right;
}
table.pager td
{
	font-weight: bold;
	color: black;
	padding: 1px;
	width: 16px;
}
table.pager td.head
{
	width: auto;
	padding-right: 6px; 
}
table.pager a
{
	text-decoration: none;
	color: #3b5c7f;
}
